.discount {
	margin-top: 150px;
}

.discount .background {
   display: block;
   position: relative;
   max-width: 1134px;
   width: auto;
   margin: 0 auto;
   z-index: 1;
   margin-bottom: -650px;
}

.discount .background img {
	width: 100%;
}

.background .discount_first_block {
	width: 555px;
   height: auto;
   max-height: 700px;
   position: relative;
   top: -800px;
   margin: 0 auto;
   z-index: 2;
}

.discount_first_block h3 {
	font-size: 42px;
	line-height: 32px;
	font-family: Ramaraja;
	color: #555963;
	margin-bottom: 59px;
	margin-top: 112px;
	text-align: center
}

.discount_first_block .description {
	font-size: 21px;
   line-height: 29px;
	font-family: Yrsa;
	color: #555963;
	margin-bottom: 55px;
	padding: 0 20% 0 20%;
   text-align: center
}

.discount_first_block .book_sele {
	display: inline-block;
	font-size: 16px;
   line-height: 22px;
	font-family: Amiri;
	color: #dd9327;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0 20% 0 20%;
   text-align: center;
}

.discount_first_block hr {
	margin: 8px 20%;
   color: gray;
}

.discount_first_block a {
	text-decoration: none;
	display: inline-block;
}

.discount_first_block .buttom_books {
	text-decoration: none;
   width: 200px;
   display: block;
   text-align: center;
   font-size: 16px;
   font-family: Lato, semibold;
   color: #555963;
   margin: 100px auto;
   border: 2px solid #555963;
}

.discount_first_block .buttom_books:hover {
	background-color: rgba(255, 187, 88, 0.6);
   border-color: orange;
}

@media (max-width: 1250px) {
	.discount .background {
	}

	.background .discount_first_block {
		top: -730px;
	}
}

@media (max-width: 1100px) {
	.discount .background {
	}

	.background .discount_first_block {
		top: -680px;
	}
}

@media (max-width: 1000px) {
	.background .discount_first_block {
		top: -660px;
	}
}