* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Ramaraja, Yrsa, serif;
	box-sizing: border-box;
	background-color: white;
	font-size: 16px;
	overflow: auto;
}

#wrapper_content {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}

/* header */
header.top {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	position: fixed;
	width: 92%;
	margin: 17px 50px;
	height: 98px;
	background-color: white;
	box-shadow: 
	0 4px 8px 0 rgba(0, 0, 0, 0.2), 
	0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 99999;
}

header.top #logo {
	margin-left: 20px;
   width: auto;
   text-decoration: none;
}

header.top nav.navigation {
   max-width: 1280px;
   overflow: hidden;
   /*background-color: #ccc;*/
}

header.top nav.navigation ul {
	list-style: none;
   margin: 0;
   padding: 0;
}

 header.top nav.navigation li {
   float: left;
   margin: 0 10px;
   padding: 5px 0;
}

header.top .navigation li a {
	text-decoration: none;
	position: relative;
   text-transform: uppercase;
   font-family: Lato, sans-serif;
   font-weight: bold;
   font-style: bold;
   font-size: 14px;
   color: #45474b;
}
/*header.top .navigation li a:link {
	color: #FFC879;
}*/
header.top .navigation li a:active {
	color: #FFC879;
}
header.top .navigation li a:focus {
	color: #FFC879;
}
/*header.top .navigation li a:visited:hover{
	color: #FFC879;
}*/
header.top .navigation li a:hover:after {
    top: 20px;
    position: absolute;
    content: '';
    width: 45%;
    height: 2px;
    background: #FFC879;
    left: 1px;
}

.header_menu {
   width: auto;
   align-content: center;
   text-align: center;
   margin-right: 20px;
}
.mob-menu {
  position: absolute;
}

.header_menu .box {
	border-radius: 50%;
	display: inline-block;
}
.header_menu .container-2{
  width: 35px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  top: -12px;
  text-decoration: none;
}

.header_menu .container-2 input#search{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: transparent;
  border: none;
  font-size: 10pt;
  color: #262626;
  padding-left: 35px;
  color: #fff;
 
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.header_menu .container-2 .icon{
  position: absolute;
  top: -4px;
  left: -4px;
  margin-left: 11px;
  margin-top: 11px;
  z-index: 1;
  color: #45474B;
}

.header_menu .container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 150px;
  border-radius: 15px;
  background: #FFBB58;
}
 
.header_menu .container-2:hover input#search{
width: 150px;
border-radius: 15px;
background: rgba(255,187,88,1.0);
transition: 0.5s;
}
 
.header_menu .container-2:hover .icon{
  color: #93a2ad;
}
/*****/
.header_menu .shopping_cart {
	display: inline-block;
	text-decoration: none;
	/*float: left;*/
	height: 35px;
	margin: 0 13px;
}

.header_menu .shopping_cart img {
	width: 25px;
	margin-bottom:5px;
}

.header_menu .userpic {
	display: inline-block;
	margin: 0 13px;
  -moz-transition: all 1s 0.1s ease-in;
  -o-transition: all 1s 0.1s ease-in;
  -webkit-transition: all 1s 0.1s ease-in;
}
.header_menu .userpic:hover {
  -webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
}

.header_menu .userpic img {
	border-radius: 50%;
	width: 35px;
	height: 33px;
}

@media (max-width: 1000px) and (min-width: 100px) {
  header.top {
    width: 97%;
    margin: 10px;
  }

  header.top nav.navigation  {
    display: none;
  }

  .header_menu {
    display: none;
  }

  .mob-menu {
    position: absolute;
    right: 10px;
    bottom: 2px;
    width: 30px;
    height: 30px;
    margin: 32px 30px;
  }

  .mob-menu span {
    margin: 0 auto;
    position: relative;
    top: 12px;
  }
  .mob-menu span:before, .mob-menu span:after {
    position: absolute;
    content: '';
  }
  .mob-menu span, .mob-menu span:before, .mob-menu span:after {
    width: 30px;
    height: 6px;
    background-color: #555963;
    display: block;
  }
  .mob-menu span:before {
    margin-top: -12px;
  }
  .mob-menu span:after {
    margin-top: 12px;
  }

  .example5 span {
    -webkit-transition-duration: 0s; transition-duration: 0s;
    -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
  }
  .example5:hover span {
    background-color: rgba(0,0,0,0.0);
    -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
  }
  .example5 span:before {
    -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
    -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
  }
  .example5:hover span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg); transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
  }
  .example5 span:after {
    -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
    -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
  }
  .example5:hover span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
  }
}