.shopfront {
	width: 100%;
	// display: block;
	// width: 1132.24px;
	// margin: 0 auto;
}

.shopfront h2 {
	text-align: center;
	font-size: 42px;
	font-family: 'Ramaraja', serif;
	color: #555963;
	margin-bottom: 65px;
}

.shopfront_menu {
	width: 100%;
	height: 45px;
	margin-bottom: 73px;
}

.shopfront nav.navigation {
	float: left;
	// border-bottom: 2px solid #555963;
}

.shopfront nav.navigation ul {
	display: inline-block;
	border-bottom: 1px solid #555963;
}

.shopfront nav.navigation li {
	display: inline-block;
   padding: 10px 20px 15px 20px;
}

.shopfront nav.navigation li:hover {
	border-bottom: 2px solid orange;
	border-radius: 5px;
	cursor: pointer;
	padding-bottom: 13px;
	background-color: rgba(255,187,88,.6);
}

.shopfront .navigation li a {
	text-decoration: none;
   font-family: 'Lato', regular;
   font-size: 16px;
   color: #555963;
}

select#popular {
	float: right;
	font-size: 16px;
   color: #45474b;
   font-family: 'Lato';
   border: none;
   padding-bottom: 15px;
   border-bottom: 2px solid #555963;
}

.shopfront_books {
	display: inline-block;
}

.books {
	width: calc(100% / 6 - 42px);
	display: inline-block;
	position: relative;
   vertical-align: top;
   text-align: center;
   margin: 50px 46px 0 0;
   cursor: pointer;
}
.books:nth-child(6n) {
	margin-right: 0;
}

.books img {
	width: 100%;
}

.books_name {
	font-size: 21px;
	font-family: 'Ramaraja', serif;
	color: #555963;
	padding: 10px 0;
}

.author_name {
	font-size: 16px;
	font-family: 'Amiri', regular;
	color: #dd9327;
	padding: 10px 0;
}

.buttom_books {
	text-decoration: none;
   width: 200px;
   display: block;
	text-align: center;
	font-size: 16px;
	font-family: 'Lato' semibold;
	color: #555963;
   margin: 20px auto;
   padding: 16px 62px;
   border: 2px solid #555963;
}

.buttom_books:hover {
	background-color: rgba(255,187,88,.6);
	border-color: orange;
}

@media (max-width: 1100px) {
	select#popular {
		display: none;
	}
}