.popular_series {
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}

.popular_series h2 {
	text-align: center;
	font-size: 42px;
	font-family: Ramaraja, serif;
	color: #555963;
	margin: 114px 0 171px 0;
}

.popular_series .block-popular {
	max-width: 1126px;
	width: auto;
    height: auto;
    min-height: 400px;
    position: relative;
    margin: 0 auto;
}

.popular_series .books_series {
	float: left;
	position: relative;
	top: 60px;
   margin-right: 50px;
   margin-bottom: 100px;
	width: 244px;
	height: 314px;
	background-color: #f7fdff;
}
.books_series:nth-child(4n) {
	margin-right: 0;
}

.popular_series .books_series img{
	position: absolute;
}
	img.one {
		top: -105px;
		left: 25px;
		z-index: 5;
	}
	img.too {
		top: -65px;
		left: 25px;
		z-index: 4;
	}
	img.tree {
		top: -25px;
		left: 25px;
		z-index: 3;
	}

.popular_series .books_series .wrapper_for_link {
    position: relative;
    top: 170px;
    height: auto;
    padding: 0 30px;
}

.popular_series .books_series .wrapper_for_link p {
	font-size: 23px;
   line-height: 23px;
   margin: 15px 0;
   font-family: Ramaraja;
   color: #555963;
}

.popular_series .books_series .wrapper_for_link a {
	font-size: 17px;
	width: 100px;
	text-decoration: none;
}

.books_series .wrapper_for_link a img {
    position: relative;
    top: 3px;
    left: 5px;
    display: inline-block;
 }

@media (max-width: 1350px) {
	.popular_series .block-popular {
		width: auto;
	}

	.popular_series .books_series {
		width: calc(100% / 4 - 38px);
	}
}

@media (max-width: 1150px) {
	img.one {
		top: -90px;
	}
	img.too {
		width: 87%;
	}
	img.tree {
		width: 70%;
	}
}