.wrapper_publishers {
	width: 100%;
	margin-bottom: 450px;
}

.publishers_l {
	float: left;
	width: 30%;
	font-size: 21px;
	line-height: 29px;
	font-family: Yrsa;
	color: #555963;
}

.publishers_l h3 {
	font-family: Ramaraja;
	color: #555963;
   font-size: 42px;
   text-align: left;
   margin-bottom: 56px;
}

.publishers_l .buttom {
	text-decoration: none;
   width: 190px;
   height: 43px;
   display: block;
   text-align: center;
   font-size: 16px;
   font-family: Lato, semibold;
   color: #555963;
   margin: 75px 0;
   border: 2px solid #555963;
}

.publishers_l .buttom:hover {
	background-color: rgba(255, 187, 88, 0.6);
   border-color: orange;
}

.publishers_r {
	float: left;
	padding-left: 50px;
	width: 60%;
	min-width: 722px;
	max-width: 722px;
}

.publishers_r .company-block {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 120px;
	height: 80px;
	margin: 0 60px 20px 0;
}

.company-block:nth-child(4n) {
	margin-right: 0;
}

.publishers_r img {
   max-height: 80px;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

@media (max-width: 1250px) {
	.publishers_l {
		width: 23%;
	}

	.publishers_r {
		min-width: 632px;
	}

	.publishers_r .company-block {
		margin-right: 20px;
	}
}