/* line 1, ../../sass/blocks/header.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 7, ../../sass/blocks/header.scss */
body {
  font-family: Ramaraja, Yrsa, serif;
  box-sizing: border-box;
  background-color: white;
  font-size: 16px;
  overflow: auto;
}

/* line 15, ../../sass/blocks/header.scss */
#wrapper_content {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

/* line 21, ../../sass/blocks/header.scss */
img {
  max-width: 100%;
  height: auto;
}

/* header */
/* line 27, ../../sass/blocks/header.scss */
header.top {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: fixed;
  width: 92%;
  margin: 17px 50px;
  height: 98px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 99999;
}

/* line 45, ../../sass/blocks/header.scss */
header.top #logo {
  margin-left: 20px;
  width: auto;
  text-decoration: none;
}

/* line 51, ../../sass/blocks/header.scss */
header.top nav.navigation {
  max-width: 1280px;
  overflow: hidden;
  /*background-color: #ccc;*/
}

/* line 57, ../../sass/blocks/header.scss */
header.top nav.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 63, ../../sass/blocks/header.scss */
header.top nav.navigation li {
  float: left;
  margin: 0 10px;
  padding: 5px 0;
}

/* line 69, ../../sass/blocks/header.scss */
header.top .navigation li a {
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-style: bold;
  font-size: 14px;
  color: #45474b;
}

/*header.top .navigation li a:link {
	color: #FFC879;
}*/
/* line 82, ../../sass/blocks/header.scss */
header.top .navigation li a:active {
  color: #FFC879;
}

/* line 85, ../../sass/blocks/header.scss */
header.top .navigation li a:focus {
  color: #FFC879;
}

/*header.top .navigation li a:visited:hover{
	color: #FFC879;
}*/
/* line 91, ../../sass/blocks/header.scss */
header.top .navigation li a:hover:after {
  top: 20px;
  position: absolute;
  content: '';
  width: 45%;
  height: 2px;
  background: #FFC879;
  left: 1px;
}

/* line 101, ../../sass/blocks/header.scss */
.header_menu {
  width: auto;
  align-content: center;
  text-align: center;
  margin-right: 20px;
}

/* line 107, ../../sass/blocks/header.scss */
.mob-menu {
  position: absolute;
}

/* line 111, ../../sass/blocks/header.scss */
.header_menu .box {
  border-radius: 50%;
  display: inline-block;
}

/* line 115, ../../sass/blocks/header.scss */
.header_menu .container-2 {
  width: 35px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  top: -12px;
  text-decoration: none;
}

/* line 125, ../../sass/blocks/header.scss */
.header_menu .container-2 input#search {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: transparent;
  border: none;
  font-size: 10pt;
  color: #262626;
  padding-left: 35px;
  color: #fff;
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

/* line 143, ../../sass/blocks/header.scss */
.header_menu .container-2 .icon {
  position: absolute;
  top: -4px;
  left: -4px;
  margin-left: 11px;
  margin-top: 11px;
  z-index: 1;
  color: #45474B;
}

/* line 153, ../../sass/blocks/header.scss */
.header_menu .container-2 input#search:focus, .container-2 input#search:active {
  outline: none;
  width: 150px;
  border-radius: 15px;
  background: #FFBB58;
}

/* line 160, ../../sass/blocks/header.scss */
.header_menu .container-2:hover input#search {
  width: 150px;
  border-radius: 15px;
  background: #ffbb58;
  transition: 0.5s;
}

/* line 167, ../../sass/blocks/header.scss */
.header_menu .container-2:hover .icon {
  color: #93a2ad;
}

/*****/
/* line 171, ../../sass/blocks/header.scss */
.header_menu .shopping_cart {
  display: inline-block;
  text-decoration: none;
  /*float: left;*/
  height: 35px;
  margin: 0 13px;
}

/* line 179, ../../sass/blocks/header.scss */
.header_menu .shopping_cart img {
  width: 25px;
  margin-bottom: 5px;
}

/* line 184, ../../sass/blocks/header.scss */
.header_menu .userpic {
  display: inline-block;
  margin: 0 13px;
  -moz-transition: all 1s 0.1s ease-in;
  -o-transition: all 1s 0.1s ease-in;
  -webkit-transition: all 1s 0.1s ease-in;
}

/* line 191, ../../sass/blocks/header.scss */
.header_menu .userpic:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

/* line 197, ../../sass/blocks/header.scss */
.header_menu .userpic img {
  border-radius: 50%;
  width: 35px;
  height: 33px;
}

@media (max-width: 1000px) and (min-width: 100px) {
  /* line 204, ../../sass/blocks/header.scss */
  header.top {
    width: 97%;
    margin: 10px;
  }

  /* line 209, ../../sass/blocks/header.scss */
  header.top nav.navigation {
    display: none;
  }

  /* line 213, ../../sass/blocks/header.scss */
  .header_menu {
    display: none;
  }

  /* line 217, ../../sass/blocks/header.scss */
  .mob-menu {
    position: absolute;
    right: 10px;
    bottom: 2px;
    width: 30px;
    height: 30px;
    margin: 32px 30px;
  }

  /* line 226, ../../sass/blocks/header.scss */
  .mob-menu span {
    margin: 0 auto;
    position: relative;
    top: 12px;
  }

  /* line 231, ../../sass/blocks/header.scss */
  .mob-menu span:before, .mob-menu span:after {
    position: absolute;
    content: '';
  }

  /* line 235, ../../sass/blocks/header.scss */
  .mob-menu span, .mob-menu span:before, .mob-menu span:after {
    width: 30px;
    height: 6px;
    background-color: #555963;
    display: block;
  }

  /* line 241, ../../sass/blocks/header.scss */
  .mob-menu span:before {
    margin-top: -12px;
  }

  /* line 244, ../../sass/blocks/header.scss */
  .mob-menu span:after {
    margin-top: 12px;
  }

  /* line 248, ../../sass/blocks/header.scss */
  .example5 span {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  /* line 252, ../../sass/blocks/header.scss */
  .example5:hover span {
    background-color: transparent;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  /* line 256, ../../sass/blocks/header.scss */
  .example5 span:before {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
  }

  /* line 261, ../../sass/blocks/header.scss */
  .example5:hover span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
  }

  /* line 266, ../../sass/blocks/header.scss */
  .example5 span:after {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
  }

  /* line 271, ../../sass/blocks/header.scss */
  .example5:hover span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
  }
}
/* line 1, ../../sass/blocks/style-cart-content.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 7, ../../sass/blocks/style-cart-content.scss */
body {
  font-family: Ramaraja, Yrsa, serif;
  box-sizing: border-box;
  background-color: white;
  font-size: 16px;
  overflow: auto;
}

/* line 15, ../../sass/blocks/style-cart-content.scss */
.wrapper_cart {
  padding: 0 8%;
  display: inline-block;
  background-color: transparent;
}

/* line 21, ../../sass/blocks/style-cart-content.scss */
h1 {
  font-family: Ramaraja;
  font-size: 42px;
  line-height: 58px;
  color: #555963;
  text-align: center;
  padding: 229px 0 88px 0;
}

@media (max-width: 1060px) {
  /* line 31, ../../sass/blocks/style-cart-content.scss */
  .wrapper_cart {
    padding: 0 5%;
  }
}
/* line 1, ../../sass/blocks/style-table-cart.scss */
.wrapper_table {
  width: 100%;
  box-sizing: border-box;
}

/* line 6, ../../sass/blocks/style-table-cart.scss */
table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  padding-top: 200px;
}

/* line 13, ../../sass/blocks/style-table-cart.scss */
th {
  padding: 8px 5px;
  color: #555963;
  font-family: Ramaraja;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  font-weight: normal;
  background: white;
}

/* line 24, ../../sass/blocks/style-table-cart.scss */
tbody tr {
  border-bottom: 20px solid white;
  background-color: #F5FDFF;
}

/* line 29, ../../sass/blocks/style-table-cart.scss */
table tr:hover {
  background-color: #DDF9FF;
}

/* line 33, ../../sass/blocks/style-table-cart.scss */
.table_header {
  font-family: Ramaraja, serif;
  font-size: 18px;
  color: #555963;
  border-bottom: 20px solid transparent;
}

/* line 40, ../../sass/blocks/style-table-cart.scss */
.table_header .quantily {
  text-align: center;
}

/* line 44, ../../sass/blocks/style-table-cart.scss */
td {
  font-family: Lato, regular;
  font-size: 15px;
  line-height: 32px;
  color: #555963;
}

/* line 51, ../../sass/blocks/style-table-cart.scss */
td a {
  text-decoration: none;
}

/* line 55, ../../sass/blocks/style-table-cart.scss */
.delete {
  width: 4.1%;
}

/* line 59, ../../sass/blocks/style-table-cart.scss */
.delete img {
  display: block;
  min-width: 13px;
  margin: 0 auto;
}

/* line 65, ../../sass/blocks/style-table-cart.scss */
.product {
  padding: 0;
  width: 60px;
  padding-left: 5px;
}

/* line 71, ../../sass/blocks/style-table-cart.scss */
.product img {
  padding: 25px 0 24px 0;
}

/* line 75, ../../sass/blocks/style-table-cart.scss */
.name_book {
  padding-left: 19px;
  min-width: 145px;
  width: 30%;
  padding-right: 10px;
  vertical-align: top;
  text-align: left;
}

/* line 84, ../../sass/blocks/style-table-cart.scss */
.name_book a {
  text-decoration: none;
  display: block;
  font-family: Ramaraja;
  font-size: 19px;
  line-height: 21px;
  color: #45474b;
  position: relative;
  top: 25px;
}

/* line 95, ../../sass/blocks/style-table-cart.scss */
.name_book a:hover {
  color: rgba(255, 187, 88, 0.9);
}

/* line 99, ../../sass/blocks/style-table-cart.scss */
td p.name_author {
  font-family: Amiri, regular;
  font-size: 15px;
  line-height: 23px;
  color: #dd9327;
  position: relative;
  top: 25px;
}

/* line 108, ../../sass/blocks/style-table-cart.scss */
.format {
  width: 25%;
  padding: 0 10px;
  text-align: left;
}

/* line 114, ../../sass/blocks/style-table-cart.scss */
.language {
  padding: 0 10px;
  width: 15%;
  text-align: left;
}

/* line 120, ../../sass/blocks/style-table-cart.scss */
.quantily {
  width: 15%;
  min-width: 83px;
}

/* line 125, ../../sass/blocks/style-table-cart.scss */
.goods-count {
  text-align: center;
  font-size: 25px;
  font-family: Yrsa;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

/* line 135, ../../sass/blocks/style-table-cart.scss */
span.amount {
  cursor: pointer;
  padding: 10px;
  width: 16px;
}

/* line 141, ../../sass/blocks/style-table-cart.scss */
.down {
  font-size: 30px;
  position: relative;
  top: 2px;
}

/* line 147, ../../sass/blocks/style-table-cart.scss */
.up {
  font-size: 30px;
  position: relative;
  top: 2px;
}

/* line 153, ../../sass/blocks/style-table-cart.scss */
.price {
  text-align: right;
  padding-right: 27px;
  width: 10%;
}

/* line 159, ../../sass/blocks/style-table-cart.scss */
.goods-price, .sum {
  font-size: 25px;
  font-family: Yrsa;
  font-style: medium;
}

/* line 165, ../../sass/blocks/style-table-cart.scss */
.quantily input.counter,
.quantily input.counter2,
.quantily input.counter3 {
  border: none;
  background-color: transparent;
  width: 30px;
  text-align: center;
  font-family: Yrsa, serif;
  font-size: 25px;
  color: #555963;
}

/* line 177, ../../sass/blocks/style-table-cart.scss */
.wrap_buttom_form {
  width: 100%;
  height: auto;
  margin: 100px 0;
}

/* line 187, ../../sass/blocks/style-table-cart.scss */
.wrap_buttom_form .coupon_code {
  float: left;
  width: 35%;
}

/* line 193, ../../sass/blocks/style-table-cart.scss */
.coupon_form {
  border-bottom: 2px solid #555963;
  padding: 10px 0;
}

/* line 198, ../../sass/blocks/style-table-cart.scss */
.coupon_form input#coupon {
  background-color: transparent;
  outline: none;
  width: 66%;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: #da8913;
  border: none;
}

/* line 209, ../../sass/blocks/style-table-cart.scss */
.coupon_form:hover, .coupon_form:focus, .coupon_form:active {
  border-bottom: 2px solid #ffbb58;
}

/* line 213, ../../sass/blocks/style-table-cart.scss */
.coupon_button {
  float: right;
  width: 34%;
  font-size: 16px;
  font-family: Lato, sans-serif;
  background-color: transparent;
  color: #45474b;
  border: none;
  border-left: 1px solid;
  padding-left: 30px;
  cursor: pointer;
}

/* line 226, ../../sass/blocks/style-table-cart.scss */
.coupon_button:hover, .coupon_button:active, .coupon_button:focus {
  outline: none;
  color: #ffbb58;
}

/* line 231, ../../sass/blocks/style-table-cart.scss */
.coupon_button img {
  margin-left: 15px;
}

/* line 235, ../../sass/blocks/style-table-cart.scss */
.coupon_code p {
  margin: 50px 0;
  font-size: 19px;
  font-family: Yrsa;
  font-variant: regular;
  color: #555963;
}

/* line 243, ../../sass/blocks/style-table-cart.scss */
.wrap_total_cost {
  width: 40%;
  min-width: 215px;
  float: right;
}

/* line 249, ../../sass/blocks/style-table-cart.scss */
.wrap_table_total {
  width: 40%;
  float: left;
  margin-top: 10px;
}

/* line 255, ../../sass/blocks/style-table-cart.scss */
.wrap_table_total table tr {
  background-color: transparent;
}

/* line 259, ../../sass/blocks/style-table-cart.scss */
.wrap_table_total .subtotal_block {
  font-family: Ramaraja;
  font-size: 21px;
  color: #45474b;
}

/* line 265, ../../sass/blocks/style-table-cart.scss */
.wrap_table_total .subtotal_cost {
  font-family: Yrsa;
  font-size: 25px;
  color: #555963;
}

/* line 271, ../../sass/blocks/style-table-cart.scss */
.wrap_table_total .total_block {
  font-family: Ramaraja;
  font-size: 28px;
  color: #45474b;
}

/* line 277, ../../sass/blocks/style-table-cart.scss */
.wrap_table_total .total_cost {
  font-family: Yrsa;
  font-size: 31px;
  color: #555963;
}

/* line 283, ../../sass/blocks/style-table-cart.scss */
.wrap_total_cost .checkout_bottom {
  width: 40%;
  height: 40px;
  border: 2px solid #45474b;
  background-color: transparent;
  font-family: Lato;
  font-size: 16px;
  color: #45474b;
  float: right;
  margin-top: 20px;
  cursor: pointer;
}

/* line 296, ../../sass/blocks/style-table-cart.scss */
.wrap_total_cost .checkout_bottom:hover {
  border: 2px solid #ffbb58;
  background-color: rgba(255, 187, 88, 0.6);
}

@media (max-width: 1060px) {
  /* line 302, ../../sass/blocks/style-table-cart.scss */
  .wrap_buttom_form .coupon_code {
    min-width: 230px;
  }

  /* line 306, ../../sass/blocks/style-table-cart.scss */
  .coupon_form {
    min-width: 230px;
    width: 100%;
  }

  /* line 311, ../../sass/blocks/style-table-cart.scss */
  .coupon_form input#coupon {
    width: 59%;
  }

  /* line 315, ../../sass/blocks/style-table-cart.scss */
  .coupon_button {
    width: 41%;
    max-height: 19px;
    padding-left: 8%;
  }
}
/* line 1, ../../sass/blocks/footer-cart.scss */
footer.cart {
  background-color: #F5FDFF;
  margin-top: 50px;
  display: inline-block;
  padding: 0 8%;
  min-width: 640px;
}

/* line 9, ../../sass/blocks/footer-cart.scss */
.footer_cart_menu {
  width: 100%;
  padding: 46px 0;
  border-bottom: 1.3px solid gray;
  margin-bottom: 100px;
  box-sizing: border-box;
}

/* line 16, ../../sass/blocks/footer-cart.scss */
.footer_cart_menu ul {
  text-decoration: none;
  height: 20px;
}

/* line 20, ../../sass/blocks/footer-cart.scss */
.footer_cart_menu li {
  list-style-type: none;
  float: left;
  margin-right: 40px;
}

/* line 25, ../../sass/blocks/footer-cart.scss */
.footer_cart_menu a {
  text-decoration: none;
  font-family: Lato, bold;
  font-size: 14px;
  color: #555963;
}

/* line 31, ../../sass/blocks/footer-cart.scss */
.footer_cart_menu a:hover {
  color: rgba(255, 187, 88, 0.9);
}

/* line 35, ../../sass/blocks/footer-cart.scss */
.footer_section_top {
  width: 100%;
  min-height: 180px;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: inline-block;
}

/* line 43, ../../sass/blocks/footer-cart.scss */
.footer_contentl {
  float: left;
  width: 50%;
  max-width: 550px;
  box-sizing: border-box;
}

/* line 50, ../../sass/blocks/footer-cart.scss */
.footer_contentl h3 {
  font-family: Ramaraja;
  color: #555963;
  font-size: 28px;
  margin-bottom: 21px;
}

/* line 57, ../../sass/blocks/footer-cart.scss */
.footer_contentl p {
  font-family: Yrsa;
  color: #555963;
  font-size: 19px;
  margin-bottom: 20px;
}

/* line 64, ../../sass/blocks/footer-cart.scss */
.footer_contentr {
  float: right;
  min-width: 395px;
  width: 35%;
}

/* line 70, ../../sass/blocks/footer-cart.scss */
.footer_mail_form {
  width: 100%;
  min-width: 395px;
  float: right;
}

/* line 76, ../../sass/blocks/footer-cart.scss */
.footer_mail_form h3 {
  font-family: Ramaraja;
  color: #555963;
  font-size: 28px;
  margin-bottom: 21px;
}

/* line 83, ../../sass/blocks/footer-cart.scss */
.email_form {
  border-bottom: 2px solid #555963;
  padding: 10px 0;
}

/* line 88, ../../sass/blocks/footer-cart.scss */
.email_form input#email {
  background-color: transparent;
  outline: none;
  width: 66%;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: #da8913;
  border: none;
}

/* line 99, ../../sass/blocks/footer-cart.scss */
.email_form:hover, .email_form:focus, .email_form:active {
  border-bottom: 2px solid #ffbb58;
}

/* line 103, ../../sass/blocks/footer-cart.scss */
.subscribe_button {
  float: right;
  width: 34%;
  font-size: 16px;
  font-family: Lato sans-serif;
  background-color: #f2fdff;
  color: #45474b;
  border: none;
  border-left: 1px solid;
  padding-left: 30px;
  cursor: pointer;
}

/* line 116, ../../sass/blocks/footer-cart.scss */
.subscribe_button:hover, .subscribe_button:active, .subscribe_button:focus {
  outline: none;
  color: #ffbb58;
}

/* line 121, ../../sass/blocks/footer-cart.scss */
.subscribe_button img {
  margin-left: 15px;
}

/* line 125, ../../sass/blocks/footer-cart.scss */
.footer_section_bottom {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  min-height: 150px;
  height: auto;
}

/* line 133, ../../sass/blocks/footer-cart.scss */
.footer_link {
  float: left;
  width: 160px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* line 140, ../../sass/blocks/footer-cart.scss */
.footer_contentl .footer_link a {
  text-decoration: none;
  font-family: Ramaraja;
  color: #555963;
  font-size: 21px;
}

/* line 147, ../../sass/blocks/footer-cart.scss */
.footer_contentl .footer_link a:hover {
  color: rgba(255, 187, 88, 0.9);
}

/* line 151, ../../sass/blocks/footer-cart.scss */
.footer_contentl .footer_link p {
  font-family: Lato;
  /* Regular */
  font-size: 14px;
  color: #555963;
  display: block;
  width: 100%;
}

/* line 159, ../../sass/blocks/footer-cart.scss */
.wrap_followus {
  width: 100%;
}

/* line 163, ../../sass/blocks/footer-cart.scss */
.wrap_followus h3 {
  font-family: Ramaraja;
  color: #555963;
  font-size: 28px;
  margin-bottom: 37px;
}

/* line 170, ../../sass/blocks/footer-cart.scss */
.wrap_followus a {
  text-decoration: none;
  display: block;
  float: left;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* line 181, ../../sass/blocks/footer-cart.scss */
.wrap_followus a:hover {
  border: 2px solid rgba(255, 187, 88, 0.9);
}

/* line 185, ../../sass/blocks/footer-cart.scss */
.wrap_followus a img {
  width: 100%;
}

/* line 189, ../../sass/blocks/footer-cart.scss */
.block_hidden {
  position: relative;
  float: left;
  width: 100%;
  height: 30px;
  margin-top: 50px;
}

/* line 197, ../../sass/blocks/footer-cart.scss */
.footer_sign {
  float: left;
  margin-right: 15px;
  min-width: 254px;
  font-size: 15px;
  font-family: Lato, regular;
  color: #555963;
  z-index: 2;
}

/* line 206, ../../sass/blocks/footer-cart.scss */
.block_hidden hr {
  display: inline-block;
  position: absolute;
  width: 83%;
  size: 4px;
  margin: 10px 0;
  color: #D2D9DB;
  z-index: 1;
}

@media (max-width: 1600px) {
  /* line 217, ../../sass/blocks/footer-cart.scss */
  .block_hidden hr {
    width: 80%;
  }
}
@media (max-width: 1400px) {
  /* line 223, ../../sass/blocks/footer-cart.scss */
  .block_hidden hr {
    width: 75%;
  }
}
@media (max-width: 1200px) {
  /* line 229, ../../sass/blocks/footer-cart.scss */
  footer.hom {
    padding: 0 5%;
  }

  /* line 231, ../../sass/blocks/footer-cart.scss */
  .block_hidden hr {
    width: 70%;
  }
}
@media (max-width: 1000px) {
  /* line 237, ../../sass/blocks/footer-cart.scss */
  .footer_cart_menu li {
    margin-right: 30px;
  }

  /* line 241, ../../sass/blocks/footer-cart.scss */
  .footer_mail_form {
    min-width: 35%;
  }

  /* line 245, ../../sass/blocks/footer-cart.scss */
  .email_form {
    min-width: 230px;
    width: 100%;
  }

  /* line 250, ../../sass/blocks/footer-cart.scss */
  .email_form input#email {
    width: 59%;
  }

  /* line 254, ../../sass/blocks/footer-cart.scss */
  .subscribe_button {
    width: 41%;
    max-height: 19px;
    padding-left: 5%;
  }

  /* line 259, ../../sass/blocks/footer-cart.scss */
  .subscribe_button img {
    margin-left: 5px;
    position: relative;
    top: 3px;
  }

  /* line 265, ../../sass/blocks/footer-cart.scss */
  .footer_contentl {
    width: 40%;
  }

  /* line 269, ../../sass/blocks/footer-cart.scss */
  .footer_contentl .footer_link {
    width: calc(100% / 3 - 20px);
    min-width: 79px;
  }

  /* line 274, ../../sass/blocks/footer-cart.scss */
  .footer_contentr {
    min-width: 50%;
  }

  /* line 277, ../../sass/blocks/footer-cart.scss */
  .block_hidden hr {
    width: 67%;
  }
}
/* line 5, ../../sass/blocks/popup-block.scss */
.popup_demo .overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  overflow: hidden;
}

/* line 20, ../../sass/blocks/popup-block.scss */
.popup_demo .overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 99999;
  top: 0;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  overflow: overlay;
}

/* line 31, ../../sass/blocks/popup-block.scss */
.substrate {
  width: 460px;
  height: auto;
  margin: 0 auto;
  position: relative;
  left: 20px;
  top: 180px;
  box-shadow: 0 5px 7px #8F8C8D;
  background-color: white;
}

/* line 42, ../../sass/blocks/popup-block.scss */
.popup {
  position: relative;
  top: -22px;
  left: 50%;
  margin-left: -20px;
  transform: translate(-50%);
  box-shadow: 0 7px 24px #8F8C8D;
  width: 460px;
  height: auto;
  background: #fff;
  vertical-align: middle;
  overflow: hidden;
  margin-bottom: 100px;
}

/* line 57, ../../sass/blocks/popup-block.scss */
.wrap_popup {
  margin: 75px 50px;
}

/* line 61, ../../sass/blocks/popup-block.scss */
.popup .close {
  text-decoration: none;
  color: #555963;
  float: right;
  position: relative;
  top: -50px;
  right: -25px;
}

/* line 70, ../../sass/blocks/popup-block.scss */
.popup h2 {
  margin-top: 54px;
  margin-bottom: 50px;
  color: #555963;
  font-family: Ramaraja, sans-serif;
  font-size: 42px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
}

/* line 81, ../../sass/blocks/popup-block.scss */
.popup .content {
  width: 100%;
}

/* line 84, ../../sass/blocks/popup-block.scss */
.input_popup {
  display: inline-block;
  width: 100%;
  color: #959ba1;
}

/* line 90, ../../sass/blocks/popup-block.scss */
.input_popup input {
  color: #959ba1;
  outline: none;
  font-size: 16px;
  font-family: Lato, regular;
  width: 100%;
  height: 30px;
  padding: 30px 0;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid gray;
}

/* line 103, ../../sass/blocks/popup-block.scss */
.input_popup input:hover, .input_popup input:active, .input_popup input:focus {
  border-bottom: 2px solid #ffbb58;
}

/* line 106, ../../sass/blocks/popup-block.scss */
.remember_me {
  float: left;
}

/* line 109, ../../sass/blocks/popup-block.scss */
.remember_me .checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

/* line 113, ../../sass/blocks/popup-block.scss */
.popup .content .remember_me .checkbox:not(checked) + label {
  position: relative;
  padding: 3px 0 0 35px;
  font-size: 16px;
  font-family: Lato;
  font-weight: regular;
  color: #45474b;
}

/* line 121, ../../sass/blocks/popup-block.scss */
.popup .content .remember_me label {
  cursor: pointer;
  color: #45474b;
}

/* line 125, ../../sass/blocks/popup-block.scss */
.content .remember_me .checkbox:not(checked) + label:hover {
  color: #ffbb58;
}

/* line 128, ../../sass/blocks/popup-block.scss */
.popup .content .remember_me .checkbox:checked + label:before {
  content: '';
  background-image: url("../../images/check.png");
  position: absolute;
  width: 21px;
  height: 21px;
  left: 2px;
  top: 5px;
  background-repeat: no-repeat;
}

/* line 138, ../../sass/blocks/popup-block.scss */
.popup .content .remember_me .checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #45474b;
  border-radius: 0;
  background: transparent;
  transition: all .2s;
}

/* line 150, ../../sass/blocks/popup-block.scss */
.forgot_password {
  float: right;
  text-decoration: none;
  color: #45474b;
  font-size: 16px;
  font-family: Lato;
  font-weight: regular;
}

/* line 158, ../../sass/blocks/popup-block.scss */
.forgot_password:hover {
  color: #ffbb58;
}

/* line 161, ../../sass/blocks/popup-block.scss */
.clearfix {
  clear: both;
}

/* line 165, ../../sass/blocks/popup-block.scss */
.popup_button {
  margin-top: 50px;
  margin-bottom: 92px;
  font-size: 16px;
  font-family: Lato, sans-serif;
  background-color: #fff;
  color: #45474b;
  border: 2px solid #45474b;
  cursor: pointer;
  text-align: center;
  padding: 10px 70px;
}

/* line 177, ../../sass/blocks/popup-block.scss */
.popup_button:hover {
  background-color: rgba(255, 187, 88, 0.6);
  border: 2px solid #ffbb58;
}

/* line 181, ../../sass/blocks/popup-block.scss */
.create_account_popup {
  text-decoration: none;
  color: #45474b;
  font-size: 16px;
  font-family: Lato, sans-serif;
  padding: 10px 21px;
  border-bottom: 2px solid #45474b;
  margin-bottom: 30px;
}

/* line 190, ../../sass/blocks/popup-block.scss */
.create_account_popup img {
  position: relative;
  top: 2px;
  left: 5px;
}

/* line 195, ../../sass/blocks/popup-block.scss */
.create_account_popup:hover {
  border-bottom: 2px solid #ffbb58;
}

/* line 198, ../../sass/blocks/popup-block.scss */
.popup_hr {
  margin: 60px 0;
}

/* line 201, ../../sass/blocks/popup-block.scss */
.popup h3 {
  font-family: Ramaraja;
  font-size: 21px;
  font-weight: 23px;
  color: #555963;
}

/* line 207, ../../sass/blocks/popup-block.scss */
.links_popup {
  display: inline-block;
  margin: 15px 10px 50px 10px;
}

/* line 1, ../../sass/blocks/mobile-menu.scss */
.popup_demo2 .overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  overflow: hidden;
  -moz-transition: all 1s 0.1s ease-in;
  -o-transition: all 1s 0.1s ease-in;
  -webkit-transition: all 1s 0.1s ease-in;
}

/* line 20, ../../sass/blocks/mobile-menu.scss */
.popup_demo2 .overlay2:target {
  visibility: visible;
  opacity: 1;
  /*transition: 0.3s;*/
  z-index: 99999;
  top: 0px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  overflow: overlay;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

/* line 35, ../../sass/blocks/mobile-menu.scss */
.substrate2 {
  text-align: center;
  width: 50%;
  float: right;
  min-height: 500px;
  height: 100%;
  position: relative;
  right: 5px;
  top: 5px;
  box-shadow: 0 5px 7px #8F8C8D;
  background-color: #F2FDFF;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

/* line 51, ../../sass/blocks/mobile-menu.scss */
.substrate2 #logo {
  display: block;
  margin: 20px;
}

/* line 55, ../../sass/blocks/mobile-menu.scss */
.substrate2 .close2 {
  text-decoration: none;
  color: #555963;
  float: left;
  position: absolute;
  top: 15px;
  left: 15px;
}

/* line 63, ../../sass/blocks/mobile-menu.scss */
.substrate2 .navigation {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0 110px;
}

/* line 69, ../../sass/blocks/mobile-menu.scss */
.substrate2 .navigation .menu {
  min-width: 100px;
  width: auto;
  height: auto;
}

/* line 74, ../../sass/blocks/mobile-menu.scss */
.substrate2 li {
  list-style-type: none;
  padding: 20px 10px 10px 5px;
  border-bottom: 2px solid #DADADB;
}

/* line 79, ../../sass/blocks/mobile-menu.scss */
.substrate2 li:hover {
  border-bottom: 2px solid #ffbb58;
  cursor: pointer;
}

/* line 83, ../../sass/blocks/mobile-menu.scss */
.substrate2 li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #45474b;
}

/* line 91, ../../sass/blocks/mobile-menu.scss */
.substrate2 .header_menu {
  display: block;
  margin: 30px auto;
  position: relative;
  left: -50%;
  transform: translateX(52%);
}

/* line 99, ../../sass/blocks/mobile-menu.scss */
.header_menu .box {
  border-radius: 50%;
  display: inline-block;
}

/* line 103, ../../sass/blocks/mobile-menu.scss */
.header_menu .container-2 {
  width: 35px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  top: -12px;
  text-decoration: none;
}

/* line 113, ../../sass/blocks/mobile-menu.scss */
.header_menu .container-2 input#search {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: transparent;
  border: none;
  font-size: 10pt;
  color: #262626;
  padding-left: 35px;
  color: #fff;
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

/* line 131, ../../sass/blocks/mobile-menu.scss */
.header_menu .container-2 .icon {
  position: absolute;
  top: -4px;
  left: -4px;
  margin-left: 11px;
  margin-top: 11px;
  z-index: 1;
  color: #45474B;
}

/* line 141, ../../sass/blocks/mobile-menu.scss */
.header_menu .container-2 input#search:focus, .container-2 input#search:active {
  outline: none;
  width: 150px;
  border-radius: 15px;
  background: #FFBB58;
}

/* line 148, ../../sass/blocks/mobile-menu.scss */
.header_menu .container-2:hover input#search {
  width: 150px;
  border-radius: 15px;
  background: #ffbb58;
  transition: 0.5s;
}

/* line 155, ../../sass/blocks/mobile-menu.scss */
.header_menu .container-2:hover .icon {
  color: #93a2ad;
}

/* line 159, ../../sass/blocks/mobile-menu.scss */
.header_menu .shopping_cart {
  display: inline-block;
  text-decoration: none;
  height: 35px;
  margin: 0 13px;
}

/* line 166, ../../sass/blocks/mobile-menu.scss */
.header_menu .shopping_cart img {
  width: 25px;
  margin-bottom: 5px;
}

/* line 171, ../../sass/blocks/mobile-menu.scss */
.header_menu .userpic {
  display: inline-block;
  margin: 0 13px;
}

/* line 176, ../../sass/blocks/mobile-menu.scss */
.header_menu .userpic img {
  border-radius: 50%;
  width: 35px;
  height: 33px;
}
