.clearfix {
    clear: both;
}

.literature_news {
	width: 100%;
}

.literature_news h2 {
	text-align: center;
	font-size: 42px;
	font-family: Ramaraja, serif;
	color: #555963;
	margin: 114px 0 88px 0;
}

.first_blok_news {
	width: 100%;
}

.news_top {
	// width: 30%;
	width: calc(100% / 3 - 37px);
	float: left;
	margin-right: 55px;
	margin-bottom: 70px;
}
	.news_top img {
		padding-bottom: 35px;
		width: 100%;
		}
	.news_top a {
		text-decoration: none;
		display: block;
		font-size: 28px;
		font-family: Ramaraja, serif;
		line-height: 30px;
		text-align: left;
		color: #555963;
	}

	.news_top a:hover {
		color: rgba(255,187,88,.9);
	}
.news_top:nth-child(3n) {
	margin-right: 0;
}

.author-data {
	width: 100%;
   min-height: 20px;
   height: auto;
   margin: 17px 0;
}



.literature_news hr {
	margin: 70px 0;
}

.second_news_block {
	width: 100%;
	height: 150px;
}

.news_bottom {
	display: block;
	width: calc(100% / 4 - 33px);
	float: left;
	margin-right: 43px;
	margin-bottom: 70px;
}
.news_bottom:nth-child(4n) {
	margin-right: 0;
}

.news_bottom a {
	text-decoration: none;
	font-size: 21px;
	font-family: Ramaraja, serif;
	line-height: 23px;
	text-align: left;
	color: #555963;
}

.news_bottom a:hover {
	color: rgba(255,187,88,.9);
}

a.author {
	float: left;
	text-decoration: none;
	font-family: Amiri, regular;
	width: auto;
	font-size: 18px;
	color: #eaad54;
}

p.book_data {
	float: left;
	font-size: 13px;
	width: auto;
	padding-top: 6px;
	padding-left: 15px;
	margin-left: 15px;
	color: #DDDDDD;
	border-left: 1px solid #DDDDDD;
}

.buttom_all_news {
	text-decoration: none;
   width: 200px;
   display: block;
	text-align: center;
	font-size: 16px;
	font-family: Lato, semibold;
	color: #555963;
   margin: 20px auto;
   padding: 16px 62px;
   border: 2px solid #555963;
}

.buttom_all_news:hover {
	background-color: rgba(255,187,88,.6);
	border-color: rgba(255,187,88,.9);
}