 * {
margin: 0;
padding: 0;
list-style-type:none;
}
// @-webkit-keyframes TMNT {
// 	0%  { left: 0px; }
// 	100% { left: -1200px; }
// }
a.prev,a.next {
	height:40px;
	position:absolute;
	width:43px;
	top:550px;
	margin-top:-30px;
	opacity:0.6;
	text-indent:-99999px;
	cursor:pointer;
	-webkit-transition:opacity 200ms ease-out;
}
.slide_num_prev,
.slide_num_next {
	font-size: 25px;
	font-family: Yrsa;
	line-height: 32px;
	color: #555963;
	height: 30px;
	width: 45px;
	top: 600px;
	position:absolute;
}
.slide_num_prev {
	left:0;
}
.slide_num_next {
	right:0;
}
a.prev:hover,a.next:hover {
	opacity:1;
}
.prev {
	left:0;
	background: transparent url("../../images/prev.png");
	background-repeat: no-repeat;
}
.next {
	right:0;
	background: transparent url("../../images/next.png");
	background-repeat: no-repeat;
}
.slider {
	height: 1048px;
	position: relative;
}
.slide {
	position:absolute;
	height:100%;
	width:100%;
	// -webkit-transform:translateZ(0);-webkit-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-moz-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-ms-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-o-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-webkit-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-moz-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-ms-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-o-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);
	// animation-name: slid;
	// animation-duration: 10s;
	// animation-timing-function: linear;
	// animation-iteration-count: infinite;
}
.slider .slide:target {
	z-index: 100;
	-webkit-transform:translateZ(0);
	-webkit-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);
	-moz-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);
	-ms-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);
	-o-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);
	transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);
	-webkit-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);
	-moz-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);
	-ms-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);
	-o-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);
	transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);
}

#no-js-slider-2 .book {
	background-color: #EDE1AB;
}
#no-js-slider-3 .book {
	background-color: #ECC486;
} 
#no-js-slider-4 .book {
	background-color: #D7ACAA;
}
#no-js-slider-5 .book {
	background-color: #E5FBFF;
}

#no-js-slider-2 .title_cover,
#no-js-slider-2 .short_description {
	color: #9E6AA2;
}
#no-js-slider-3 .title_cover,
#no-js-slider-3 .short_description {
	color: #F0523F;
} 
#no-js-slider-4 .title_cover,
#no-js-slider-4 .short_description {
	color: #9E6AA2;
}
#no-js-slider-5 .title_cover,
#no-js-slider-5 .short_description {
	color: #F0523F;
}

#no-js-slider-1,
#no-js-slider-2,
#no-js-slider-3,
#no-js-slider-4,
#no-js-slider-5 {
	-webkit-transform:translateZ(0);
	-webkit-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);
	-moz-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);
	-ms-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);
	-o-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);
	transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);
	-webkit-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);
	-moz-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);
	-ms-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);
	-o-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);
	transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);
}

.book	{
	background-color: #F2FDFF;
	width: 100%;
	max-width: 1920px;
	height: 1048px;
	margin-bottom: 20px;
}

.cover_left{
   position: absolute;
   max-width: 800px;
   max-height: 1050px;
}

.book .background_book {
   position: relative;
   top: 220px;
   left: 111px;
   z-index: 1;
}

.book .cover_left .cover {
	display: inline-block;
   position: relative;
   cursor: default;
   top: -440px;
   left: 150px;
   z-index: 2;
}

.book .genre {
	display: inline-block;
	width: 100px;
	height: auto;
	background-color: white;
	border: 2px solid #dd9327;
	font-size: 16px;
	font-family: Lato, regular;
	text-align: center;
   position: relative;
   top: -1095px;
   left: 25px;
   padding: 5px 8px;
   z-index: 3;
}

.cover_right {
	float: right;
   width: 50%;
   min-width: 660px;
   padding-right: 100px;
}

.title_cover {
	font-family: Ramaraja, serif;
	padding-top: 350px;
	text-align: left;
	padding-bottom: 38px;
   font-size: 57px;
   line-height: 58px;
   color: #555963;
}

.author_cover {
	text-decoration: none;
	font-family: Amiri, regular;
	display: inline-block;
	padding-right: 30px;
	font-size: 21px;
	color: #da8913;
}
.author_cover:hover {
	color: rgba(255,187,88,.9);
}

.rating {
	display: inline-block;
	padding-left: 30px;
	border-left: 1px solid #555963;
}

.rating p {
	display: inline-block;
	font-size: 17px;
	padding-right: 8px;
	color: #555963;
}

.rating img {
	float: right;
	position: relative;
	top: -3px;
}

.short_description {
	font-family: Yrsa, regular;
	width: 80%;
	margin-top: 54px;
	margin-bottom: 81px;
	font-size: 23px;
	line-height: 32px;
	color: #555963;
}

.price {
	font-size: 38px;
	font-family: Yrsa, medium;
	box-sizing: border-box;
	color: #555963;
	margin: 0;
	padding: 0;
}

@media (max-width: 1600px) {
	.cover_right {
	   padding-right: 50px;
	}
}

@media (max-width: 1300px) {
	.cover_right {
	   width: 40%;
	   min-width: 400px;
	   padding-right: 50px;
	}
}

@media (max-width: 1100px) {
	.cover_right {
	   width: 35%;
	   min-width: 350px;
	   padding-right: 0;
	}
}